#arena {
  width: 800;
  height: 800;
  border: 3px solid pink;
}

#scorebar {
  width: 800;
  height: 110;
  border: 3px solid pink;
}

#princess {
  position: relative;
  background-image: url('../imgs/princess_front.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 32px;
  width: 32px;
}

#score {
  font-size: 45px;
  font-family: 'Sniglet', cursive;
  color: green;
}

.cake {
  position: relative;
  background-image: url('../imgs/cake.png');
  background-repeat: no-repeat;
  height: 34px;
  width: 34px;
}

.carrot {
  background-image: url('../imgs/carrot.png');
  height: 34px;
  width: 34px;
}

#princess img {
  height: 32px;
  width: 32px;
}

