body {
  padding: 0;
  margin: 0;
}

#arena {
  display: block;
  position: absolute;
  width: 800;
  height: 800;
  border-right: 15px solid #40e0d0;
  border-bottom: 15px solid LightGreen;
  border-left: 15px solid LightGreen;
  border-top: 15px solid #40e0d0;
  background-image: url("../imgs/Chevron-Background.png");
}

#princess {
  position: absolute;
  background-image: url('../imgs/princess_front.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 32px;
  width: 32px;
}

.cake {
  position: absolute;
  background-image: url('../imgs/cake.png');
  background-repeat: no-repeat;
  height: 34px;
  width: 34px;
}

.carrot {
  position: absolute;
  background-image: url('../imgs/carrot.png');
  background-repeat: no-repeat;
  height: 34px;
  width: 34px;
}

#princess img {
  height: 32px;
  width: 32px;
}

#scorebar {
  display: block;
  position: absolute;
  top: 850px;
  width: 800;
  height: 110;
  border-right: 15px solid #40e0d0;
  border-bottom: 15px solid LightGreen;
  border-left: 15px solid LightGreen;
  border-top: 15px solid #40e0d0;
}

#score {
  font-size: 45px;
  font-family: 'Sniglet', cursive;
  text-shadow: 4px 4px 2px rgba(233,0,117, 0.8);
  background-color: #D5FDD5;
  color: #D4EE5E;
  background-color: #FF7070;
}
