#arena {
  width: 800;
  height: 800;
  border: 3px solid pink;
}

#princess {
  position: relative;
  background-image: url('../imgs/princess_front.gif');
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}

.cake {
  position: relative;
  background-image: url('../imgs/cake.png');
  background-repeat: no-repeat;
  height: 34px;
  width: 34px;
}

.carrot {
  background-image: url('../imgs/carrot.png');
  height: 34px;
  width: 34px;
}


